In [143]:
import pandas as pd
import numpy as np


from selenium.webdriver.chrome.options import Options
from webdriver_manager.chrome import ChromeDriverManager
import requests as req
from bs4 import BeautifulSoup as bs
from selenium import webdriver
#driver configuration
opciones=Options()
opciones.add_experimental_option('excludeSwitches', ['enable-automation'])
opciones.add_experimental_option('useAutomationExtension', False)
opciones.headless=False    # si True, no aperece la ventana (headless=no visible)
opciones.add_argument('--start-maximized')         # comienza maximizado
#opciones.add_argument('user-data-dir=selenium')    # mantiene las cookies
#opciones.add_extension('driver_folder/adblock.crx')       # adblocker
opciones.add_argument('--incognito')
PATH = ChromeDriverManager().install()     # instala el driver de chrome
driver=webdriver.Chrome(PATH)       # abre una venta una de chrome
driver.get('https://www.timeanddate.com/moon/phases/?year=2022')
from selenium.webdriver.common.by import By # By es para buscar por tag, clase, id...
import time
import warnings
warnings.filterwarnings('ignore')

KeyboardInterrupt:

In [ ]:
# This is the url you will scrape 
url = 'https://www.timeanddate.com/moon/phases/?year=2022'

# usamos requests para extraer el HTML

html=req.get(url).content   # o .text
soup = bs(html, "html.parser")
html[:1000]

b'<!DOCTYPE html><!--\nscripts and programs that download content transparent to the user are not allowed without permission\n--><html lang=en><head><meta http-equiv=Content-Type content="text/html; charset=utf-8"><title>Moon Phases 2022 \xe2\x80\x93 Lunar Calendar</title><meta name=description content="Moon phases for 2022 or any year. New Moon and Full Moon calendar with precise times and simulation of the Moon phase today. When is the next Full Moon?"><meta property="og:image" content="https://www.timeanddate.com/scripts/cityog.php?title=Moon%20Phases%20for&amp;tint=0xfaca4e&amp;city=Year%202022&amp;country=for%20any%20location&amp;image=generic"><meta property="og:type" content=website><style>\n@font-face{font-family:iconfont;src:url("/common/fonts/iconfont.woff2?v8") format("woff2"),url("/common/fonts/iconfont.woff?v8") format("woff"),url("/common/fonts/iconfont.ttf?v8") format("truetype"),url("/common/fonts/iconfont.svg?v8#iconfont") format("svg");font-weight:400;font-style:normal}\n</style>\n\n<'

In [ ]:
len(html)

57530

In [ ]:
soup = bs(html, "html.parser")

In [ ]:
cookies = driver.find_element(By.XPATH, '//*[@id="qc-cmp2-ui"]/div[2]/div/button[2]').click()

In [ ]:

x = driver.find_elements(By.CLASS_NAME, 'head')
headers = [i.text for i in x]

In [ ]:
headers

['Lunation New Moon First Quarter Full Moon Third Quarter Duration']

In [ ]:
headers_1 = headers.copy()

In [ ]:
headers_1

['Lunation New Moon First Quarter Full Moon Third Quarter Duration']

In [ ]:
x1 = driver.find_elements(By.CLASS_NAME, 'tr')
body = [i.text for i in x1]

In [ ]:
headers_1 = headers_1[0]

In [ ]:
headers_1 = headers_1.split(" ")

In [ ]:
headers_1 = headers_1[1:-1]

In [ ]:
headers_1

['New', 'Moon', 'First', 'Quarter', 'Full', 'Moon', 'Third', 'Quarter']

In [ ]:
def headers_2(strings):
    headers_2 = [''.join(x) for x in zip(headers_1[::2], headers_1[1::2])]
    return headers_2

print(headers_2(headers_1))

['NewMoon', 'FirstQuarter', 'FullMoon', 'ThirdQuarter']

In [ ]:
headers_3 = headers_2(headers_1)

In [ ]:
headers_3

['NewMoon', 'FirstQuarter', 'FullMoon', 'ThirdQuarter']

In [ ]:
headers_3

['NewMoon', 'FirstQuarter', 'FullMoon', 'ThirdQuarter']

In [ ]:
body_1 = body.copy()

In [ ]:
num_columns = 9
num_rows = len(body_1)//num_columns
array = np.array(body_1).reshape(num_rows, num_columns)
df = pd.DataFrame(array)

df

,0,1,2,3,4,5,6,7,8
0,2 de ene,19:33,9 de ene,19:11,18 de ene,0:48,25 de ene,14:40,29d 11h 12m
1,1 de feb,6:46,8 de feb,14:50,16 de feb,17:56,23 de feb,23:32,29d 11h 49m
2,2 de mar,18:34,10 de mar,11:45,18 de mar,8:17,25 de mar,6:37,29d 12h 50m
3,1 de abr,8:24,9 de abr,8:47,16 de abr,20:55,23 de abr,13:56,29d 14h 04m
4,30 de abr,22:28,9 de may,2:21,16 de may,6:14,22 de may,20:43,29d 15h 02m
5,30 de may,13:30,7 de jun,16:48,14 de jun,13:51,21 de jun,5:10,29d 15h 22m
6,29 de jun,4:52,7 de jul,4:14,13 de jul,20:37,20 de jul,16:18,29d 15h 03m
7,28 de jul,19:54,5 de ago,13:06,12 de ago,3:35,19 de ago,6:36,29d 14h 22m
8,27 de ago,10:17,3 de sep,20:07,10 de sep,11:59,17 de sep,23:52,29d 13h 37m
9,25 de sep,23:54,3 de oct,2:14,9 de oct,22:54,17 de oct,19:15,29d 12h 54m
10,25 de oct,12:48,1 de nov,7:37,8 de nov,12:02,16 de nov,14:27,29d 12h 09m
11,23 de nov,23:57,30 de nov,15:36,8 de dic,5:08,16 de dic,9:56,29d 11h 20m
12,23 de dic,11:16,30 de dic,2:20,,,,,29d 10h 36m

In [ ]:
df_1 = df.iloc[:, ::2]

In [ ]:
df_2 = df_1.iloc[:, :4]

In [ ]:
df_2.columns = headers_3

In [ ]:
df_2

      NewMoon FirstQuarter   FullMoon ThirdQuarter
0    2 de ene     9 de ene  18 de ene    25 de ene
1    1 de feb     8 de feb  16 de feb    23 de feb
2    2 de mar    10 de mar  18 de mar    25 de mar
3    1 de abr     9 de abr  16 de abr    23 de abr
4   30 de abr     9 de may  16 de may    22 de may
5   30 de may     7 de jun  14 de jun    21 de jun
6   29 de jun     7 de jul  13 de jul    20 de jul
7   28 de jul     5 de ago  12 de ago    19 de ago
8   27 de ago     3 de sep  10 de sep    17 de sep
9   25 de sep     3 de oct   9 de oct    17 de oct
10  25 de oct     1 de nov   8 de nov    16 de nov
11  23 de nov    30 de nov   8 de dic    16 de dic
12  23 de dic    30 de dic

In [ ]:
# Use the melt method to convert the dataframe into a long format
df_melted = df_2.melt(var_name='Column Name', value_name='Value')

In [ ]:
df_melted

     Column Name      Value
0        NewMoon   2 de ene
1        NewMoon   1 de feb
2        NewMoon   2 de mar
3        NewMoon   1 de abr
4        NewMoon  30 de abr
5        NewMoon  30 de may
6        NewMoon  29 de jun
7        NewMoon  28 de jul
8        NewMoon  27 de ago
9        NewMoon  25 de sep
10       NewMoon  25 de oct
11       NewMoon  23 de nov
12       NewMoon  23 de dic
13  FirstQuarter   9 de ene
14  FirstQuarter   8 de feb
15  FirstQuarter  10 de mar
16  FirstQuarter   9 de abr
17  FirstQuarter   9 de may
18  FirstQuarter   7 de jun
19  FirstQuarter   7 de jul
20  FirstQuarter   5 de ago
21  FirstQuarter   3 de sep
22  FirstQuarter   3 de oct
23  FirstQuarter   1 de nov
24  FirstQuarter  30 de nov
25  FirstQuarter  30 de dic
26      FullMoon  18 de ene
27      FullMoon  16 de feb
28      FullMoon  18 de mar
29      FullMoon  16 de abr
30      FullMoon  16 de may
31      FullMoon  14 de jun
32      FullMoon  13 de jul
33      FullMoon  12 de ago
34      FullMoon  10 de sep
35      FullMoon   9 de oct
36      FullMoon   8 de nov
37      FullMoon   8 de dic
38      FullMoon
39  ThirdQuarter  25 de ene
40  ThirdQuarter  23 de feb
41  ThirdQuarter  25 de mar
42  ThirdQuarter  23 de abr
43  ThirdQuarter  22 de may
44  ThirdQuarter  21 de jun
45  ThirdQuarter  20 de jul
46  ThirdQuarter  19 de ago
47  ThirdQuarter  17 de sep
48  ThirdQuarter  17 de oct
49  ThirdQuarter  16 de nov
50  ThirdQuarter  16 de dic
51  ThirdQuarter

In [ ]:
df_melted = df_melted[(df_melted != ' ').all(axis=1)]
df_melted

     Column Name      Value
0        NewMoon   2 de ene
1        NewMoon   1 de feb
2        NewMoon   2 de mar
3        NewMoon   1 de abr
4        NewMoon  30 de abr
5        NewMoon  30 de may
6        NewMoon  29 de jun
7        NewMoon  28 de jul
8        NewMoon  27 de ago
9        NewMoon  25 de sep
10       NewMoon  25 de oct
11       NewMoon  23 de nov
12       NewMoon  23 de dic
13  FirstQuarter   9 de ene
14  FirstQuarter   8 de feb
15  FirstQuarter  10 de mar
16  FirstQuarter   9 de abr
17  FirstQuarter   9 de may
18  FirstQuarter   7 de jun
19  FirstQuarter   7 de jul
20  FirstQuarter   5 de ago
21  FirstQuarter   3 de sep
22  FirstQuarter   3 de oct
23  FirstQuarter   1 de nov
24  FirstQuarter  30 de nov
25  FirstQuarter  30 de dic
26      FullMoon  18 de ene
27      FullMoon  16 de feb
28      FullMoon  18 de mar
29      FullMoon  16 de abr
30      FullMoon  16 de may
31      FullMoon  14 de jun
32      FullMoon  13 de jul
33      FullMoon  12 de ago
34      FullMoon  10 de sep
35      FullMoon   9 de oct
36      FullMoon   8 de nov
37      FullMoon   8 de dic
39  ThirdQuarter  25 de ene
40  ThirdQuarter  23 de feb
41  ThirdQuarter  25 de mar
42  ThirdQuarter  23 de abr
43  ThirdQuarter  22 de may
44  ThirdQuarter  21 de jun
45  ThirdQuarter  20 de jul
46  ThirdQuarter  19 de ago
47  ThirdQuarter  17 de sep
48  ThirdQuarter  17 de oct
49  ThirdQuarter  16 de nov
50  ThirdQuarter  16 de dic

In [ ]:
df_melted["Value"] = df_melted["Value"].apply(lambda x: x + " de 2022")

In [ ]:
cell_value = df_melted.at[51, 'Value']
cell_type = type(cell_value)
cell_type

KeyError: 51

In [ ]:
print("hola" + cell_value + "adios")

hola adios

In [ ]:
df_melted

     Column Name              Value
0        NewMoon   2 de ene de 2022
1        NewMoon   1 de feb de 2022
2        NewMoon   2 de mar de 2022
3        NewMoon   1 de abr de 2022
4        NewMoon  30 de abr de 2022
5        NewMoon  30 de may de 2022
6        NewMoon  29 de jun de 2022
7        NewMoon  28 de jul de 2022
8        NewMoon  27 de ago de 2022
9        NewMoon  25 de sep de 2022
10       NewMoon  25 de oct de 2022
11       NewMoon  23 de nov de 2022
12       NewMoon  23 de dic de 2022
13  FirstQuarter   9 de ene de 2022
14  FirstQuarter   8 de feb de 2022
15  FirstQuarter  10 de mar de 2022
16  FirstQuarter   9 de abr de 2022
17  FirstQuarter   9 de may de 2022
18  FirstQuarter   7 de jun de 2022
19  FirstQuarter   7 de jul de 2022
20  FirstQuarter   5 de ago de 2022
21  FirstQuarter   3 de sep de 2022
22  FirstQuarter   3 de oct de 2022
23  FirstQuarter   1 de nov de 2022
24  FirstQuarter  30 de nov de 2022
25  FirstQuarter  30 de dic de 2022
26      FullMoon  18 de ene de 2022
27      FullMoon  16 de feb de 2022
28      FullMoon  18 de mar de 2022
29      FullMoon  16 de abr de 2022
30      FullMoon  16 de may de 2022
31      FullMoon  14 de jun de 2022
32      FullMoon  13 de jul de 2022
33      FullMoon  12 de ago de 2022
34      FullMoon  10 de sep de 2022
35      FullMoon   9 de oct de 2022
36      FullMoon   8 de nov de 2022
37      FullMoon   8 de dic de 2022
39  ThirdQuarter  25 de ene de 2022
40  ThirdQuarter  23 de feb de 2022
41  ThirdQuarter  25 de mar de 2022
42  ThirdQuarter  23 de abr de 2022
43  ThirdQuarter  22 de may de 2022
44  ThirdQuarter  21 de jun de 2022
45  ThirdQuarter  20 de jul de 2022
46  ThirdQuarter  19 de ago de 2022
47  ThirdQuarter  17 de sep de 2022
48  ThirdQuarter  17 de oct de 2022
49  ThirdQuarter  16 de nov de 2022
50  ThirdQuarter  16 de dic de 2022

In [ ]:
import locale
locale.setlocale(locale.LC_TIME, 'es_ES.UTF-8')

'es_ES.UTF-8'

In [ ]:
import datetime

df_melted['Value'] = pd.to_datetime(df_melted['Value'], format='%d de %b de %Y')
df_melted

     Column Name      Value
0        NewMoon 2022-01-02
1        NewMoon 2022-02-01
2        NewMoon 2022-03-02
3        NewMoon 2022-04-01
4        NewMoon 2022-04-30
5        NewMoon 2022-05-30
6        NewMoon 2022-06-29
7        NewMoon 2022-07-28
8        NewMoon 2022-08-27
9        NewMoon 2022-09-25
10       NewMoon 2022-10-25
11       NewMoon 2022-11-23
12       NewMoon 2022-12-23
13  FirstQuarter 2022-01-09
14  FirstQuarter 2022-02-08
15  FirstQuarter 2022-03-10
16  FirstQuarter 2022-04-09
17  FirstQuarter 2022-05-09
18  FirstQuarter 2022-06-07
19  FirstQuarter 2022-07-07
20  FirstQuarter 2022-08-05
21  FirstQuarter 2022-09-03
22  FirstQuarter 2022-10-03
23  FirstQuarter 2022-11-01
24  FirstQuarter 2022-11-30
25  FirstQuarter 2022-12-30
26      FullMoon 2022-01-18
27      FullMoon 2022-02-16
28      FullMoon 2022-03-18
29      FullMoon 2022-04-16
30      FullMoon 2022-05-16
31      FullMoon 2022-06-14
32      FullMoon 2022-07-13
33      FullMoon 2022-08-12
34      FullMoon 2022-09-10
35      FullMoon 2022-10-09
36      FullMoon 2022-11-08
37      FullMoon 2022-12-08
39  ThirdQuarter 2022-01-25
40  ThirdQuarter 2022-02-23
41  ThirdQuarter 2022-03-25
42  ThirdQuarter 2022-04-23
43  ThirdQuarter 2022-05-22
44  ThirdQuarter 2022-06-21
45  ThirdQuarter 2022-07-20
46  ThirdQuarter 2022-08-19
47  ThirdQuarter 2022-09-17
48  ThirdQuarter 2022-10-17
49  ThirdQuarter 2022-11-16
50  ThirdQuarter 2022-12-16

In [ ]:
df_melted = df_melted.applymap(lambda x: x.encode('utf-8') if isinstance(x, str) else x)

In [ ]:
df_melted.to_csv('/Users/paulaalvarez/Desktop/2023_01_16_mis_versiones/4.Proyecto/df_melted_2.csv', index=False)

In [ ]:
df_melted

        Column Name      Value
0        b'NewMoon' 2022-01-02
1        b'NewMoon' 2022-02-01
2        b'NewMoon' 2022-03-02
3        b'NewMoon' 2022-04-01
4        b'NewMoon' 2022-04-30
5        b'NewMoon' 2022-05-30
6        b'NewMoon' 2022-06-29
7        b'NewMoon' 2022-07-28
8        b'NewMoon' 2022-08-27
9        b'NewMoon' 2022-09-25
10       b'NewMoon' 2022-10-25
11       b'NewMoon' 2022-11-23
12       b'NewMoon' 2022-12-23
13  b'FirstQuarter' 2022-01-09
14  b'FirstQuarter' 2022-02-08
15  b'FirstQuarter' 2022-03-10
16  b'FirstQuarter' 2022-04-09
17  b'FirstQuarter' 2022-05-09
18  b'FirstQuarter' 2022-06-07
19  b'FirstQuarter' 2022-07-07
20  b'FirstQuarter' 2022-08-05
21  b'FirstQuarter' 2022-09-03
22  b'FirstQuarter' 2022-10-03
23  b'FirstQuarter' 2022-11-01
24  b'FirstQuarter' 2022-11-30
25  b'FirstQuarter' 2022-12-30
26      b'FullMoon' 2022-01-18
27      b'FullMoon' 2022-02-16
28      b'FullMoon' 2022-03-18
29      b'FullMoon' 2022-04-16
30      b'FullMoon' 2022-05-16
31      b'FullMoon' 2022-06-14
32      b'FullMoon' 2022-07-13
33      b'FullMoon' 2022-08-12
34      b'FullMoon' 2022-09-10
35      b'FullMoon' 2022-10-09
36      b'FullMoon' 2022-11-08
37      b'FullMoon' 2022-12-08
39  b'ThirdQuarter' 2022-01-25
40  b'ThirdQuarter' 2022-02-23
41  b'ThirdQuarter' 2022-03-25
42  b'ThirdQuarter' 2022-04-23
43  b'ThirdQuarter' 2022-05-22
44  b'ThirdQuarter' 2022-06-21
45  b'ThirdQuarter' 2022-07-20
46  b'ThirdQuarter' 2022-08-19
47  b'ThirdQuarter' 2022-09-17
48  b'ThirdQuarter' 2022-10-17
49  b'ThirdQuarter' 2022-11-16
50  b'ThirdQuarter' 2022-12-16

In [ ]:
#result = pd.merge(df1, df2, on='Fecha', how='right')